# version: '3.9'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - PORT=5000
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    environment:
      - VITE_API_BASE_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - app_network

  astroblog:
    build:
      context: ./astroblog
      dockerfile: Dockerfile
    container_name: astroblog
    environment:
      - BLOG_URL=http://backend:5000
      - HOST=0.0.0.0  # Add this line
      - PORT=3000     # Add this line
    depends_on:
      - backend
    networks:
      - app_network

  nginx:
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    depends_on:
      - backend
      - frontend
      - astroblog
    networks:
      - app_network

  db:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
