# version: '3.9'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - PORT=5000
    depends_on:
      db:
        condition: service_healthy
    networks:
      - blog_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    environment:
      - VITE_API_BASE_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - blog_network
    

  astroblog:
    build:
      context: ./astroblog
      dockerfile: Dockerfile
    container_name: astroblog
    environment:
      - BLOG_URL=http://backend:5000
      - HOST=0.0.0.0
      - PORT=3000
      - NODE_ENV=production
      - ASTRO_NODE_HOST=0.0.0.0
    depends_on:
      - backend
    networks:
      - blog_network
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  nginx:
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
      - astroblog
    networks:
      - blog_network
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - blog_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  blog_network:
    name: blog_network
    driver: bridge

volumes:
  postgres_data:
